<!doctype html>
<html>
 <!-- Daniel Menlicki 762399, Jonathan Schärtel 762378 -->
<head>
  <title>CoolerChat</title>
  <link rel="stylesheet" href="GlobalStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>

  <div class="columns" id="app">

    <div class="column" id="informationPanel">

      <h1 class="title" id="heading">ONLINE USERS</h1>
      <h2 class="subtitle" id="userName">YOU ARE: {{user}}</h2>
      <ul>
        <li v-for="(v,k) in users">
          <input :id="k" :value="k" type="checkbox" v-model="checkedUsers" />
          <label :for="k" class="tag is-link">{{v}}</label>
        </li>
      </ul>
    </div>



    <div class="column">
      <div class="container h" id="chat">
        <ul>
          <li v-for="msg in messages" :class="[msg.type != Type.msg ? 'notification is-warning':'']" id="msg">
            <span
              class="tag">{{ new Date(msg.timestamp).toLocaleDateString('de-DE', { year: '2-digit', month: '2-digit', day: '2-digit', hour:'2-digit', minute:'2-digit'}) }}</span>
            <span :data-id="msg.username" class="tag is-link">{{msg.username}}</span>
            {{msg.text}}
            <a class="tag is-warning" v-if="msg.file" :href="msg.file.bin" target="_blank">{{msg.file.name}}</a>
          </li>
        </ul>
      </div>
      <form class="container" action="" @submit.prevent="send" id="messageContainer">
        <input autocomplete="off" placeholder="Enter Message" v-model.trim.lazy="inp" id="msgBar"/>
        <input type="file" @change="processFile($event)" ref="upload" id="upload"/>
        <button value="submit" id="send">Send</button>
      </form>


    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/defs.js"></script>
  <script src="/chat.js"></script>

</body>

</html>