html, body {
    height: 98%;
    font-family: 'Comfortaa', cursive;
    background-color: #840032;
}

#content {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    height: 100%;
}

.generalSettings {
    background-color: #2f2d2e;
    border: 2px solid #ff1053;
}

h4 {
    text-align: center;
    background-color: #e6c229;
    width: 100%;
}

#userList {
    height: 50%;
}

#lastChat {
    height: 49%;
    margin-top: 1%;
}

#chatBar{
    height: 7%;
    margin-top: 1%;
    margin-left: 1%;
}

#actualchat {
    height: 91%;
    margin-left: 1%;
}

#m{
    width: 88.5%;
    height: 85%;
    background-color: #e6c229;

}

#m, select,textarea{
    color: #2f2d2e;
    font-size: 100%;
}
#sending{
    width: 10%;
    height: 100%;
    margin-left: 0.25%;
    background-color: #2f2d2e;
}

#messaging{
    height: 100%;
    width: 100%;
}

::placeholder{
    color: #2f2d2e;
    font-size: 150%;
}
